:root {
    --previous-color-text: #2E2F42;
    --secondary-color-text: #434455;
    --third-color-text:#FFFFFF; 
    --footer-text-color:#F4F4FD;
    --button-color-text: #4D5AE5;
    --button-color-bg: #F4F4FD;
    --main-background-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color-text);
    background-color: var(--main-background-color);
    }
.list {list-style: none;}

.link{text-decoration: none;}

.button{cursor: pointer;}

.logo{
font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
letter-spacing: 0.03em;
line-height: 1.17;
}

.logo {
    color: #4D5AE5;
    text-transform: uppercase;
}

.logo-st {
    color: #2E2F42;
}

.header-contact-list{
    font-style:normal;
}

.contact-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-color-text);}

.menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;}

.link:hover,
.link:focus{color: #404BBF;}

.button-hero:hover,
.button-hero:focus{background-color: #404BBF; }


.text-hero{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: var(--third-color-text);}

/*секція-герой-головна*/
.hero{background-color:#2E2F42;}

/*кнопка-головна*/
.button-hero{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
     background-color: #4D5AE5;}

/*головний текст на банері*/
.text-hero{color: var(--third-color-text);
background-color: #2E2F42;}

/*наш напрямок*/
.text-main{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--previous-color-text);}

.text-minor{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-color-text);}

.our-works{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--previous-color-text);}

.text-main-team{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--previous-color-text);}

.main-team{
    background: #F4F4FD;}

/*текст футера*/
.text-footer{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--footer-text-color);}

.page-footer{
    background-color: #2E2F42;
}

.logo-footer{
    color: #F4F4FD;
}

/*кнопки-портфоліо*/

.button-pf{color: #4D5AE5;}
.main-but{

    font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--button-color-text);
        background-color: var(--button-color-bg);

}

.main-but-pf{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--button-color-text);
        background-color: var(--button-color-bg);
}

.team-list-item{ background-color: var(--main-background-color);

}

.main-but-pf:hover,
.main-but-pf:focus{ color: #FFFFFF;
    background-color: #404BBF;}
